<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alexa's Awesome Gif Search</title>
    <link rel="stylesheet" href="/styles.css?v=1">
</head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>